.container {
    width: 100%; max-width: 700px; margin: 0 auto;
}

.container-wide {
    width: 100%; max-width: 800px; margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 32px;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

.demographics-heading {
    margin-bottom: 32px;
}

.demographics-footer {
    opacity: 0.5;
    margin-top: 48px;
    /*padding-top: 24px;*/
    /*border-top: 1px solid gray;*/
}

.demographics-footer p {
    margin: 4px 0;
    font-size: 12px;
}